# ignore changes to the following
# and don't upload to github
# any rproj or history files
.Rproj.user
*.Rhistory
*.RData
.Ruserdata

# any csv or rdata
*.csv
*.rdata

# anything in the data folders
data2018
!attractor_points.txt
access_params.txt

# any scripts that access data
*data_func*
*scripts_allert*

# any movies
*.mp4

# image files that can be modified easily
*.docx
*.eps
*.svg
tide_rise/
*.js
figs/*.html

# any zip files
*.zip
*.osm

# tif files
*.tif

# anything to do with visual studio
.vscode/
.vs/

# any unnamed rplots
*Rplots*

# the presentation folder
presentation/
