slides > slide.dark {
}

slide img {
  max-width: 768px;
  max-height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body slides > slide {
  font-family: Marcellus;
}

slides > slide.backdrop {
  background-position: 0 100%;
  background-repeat: repeat-x;
}

slides > slide:not(.nobackground):after {
  color: #ffffff;
}

aside.gdbar {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #3e8ac7), color-stop(100%, #3e8ac7)) no-repeat;
  background: linear-gradient(left, #3e8ac7, #3e8ac7) no-repeat;
}

slides > slide:not(.nobackground):before {
  background-size: 50px 50px;
  padding-left: 50px;
  height: 50px;
  bottom: 5px;
}

slides > slide > hgroup + article p {
  font-family: Lato Medium;
  font-weight: 300;
  color: #2d2d2d;
}

.title-slide hgroup p {
  font-family: Lato Medium;
  font-weight: 300;
}

div.notes {
  color: #000000;
}
